.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.lista-suspensa select {
    width: 100%;
    padding: 14px 180px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #1e293b;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    text-align: start;
}