.botao {
  width: 100%;
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: radial-gradient(circle, rgb(135, 36, 201) 0%, rgba(252, 70, 107, 1) 100%);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

.botao:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}
